@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@200;300;400&display=swap');

*{
box-sizing: border-box;
margin: 0;
padding: 0;
background-color: black;
}

li,a{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

header{
display: flex;
justify-content: flex-end;
padding: 30px 10%;
}